* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

header {
  background-color: #275280;
  background-size: 25%;
  color: #fff;
  font-size: 1.618rem;
}
.header-top {
  background-image: url(../images/pooltile.jpg);
  background-size: 500px;
  height: 100px;
}
.header-bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header a {
  color: #fff;
  text-decoration: none;
}
.logo {
  flex-grow: 1;
  text-align: center;
}
nav {
  flex-grow: 3;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-book {
  font-weight: bold;
  background-color: #1c3041;
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  display: block;
  max-width: 150px;
}
.hero {
  text-align: center;
  background-image: url(../images/dark+parquet.jpg);
  background-size: 300px;
}
.hero video {
  max-width: 100vw;
  height: calc(100vh - 300px);
  object-fit: cover;
}
